/*
   Saturday, 24 February, 201818:00:38
   User: 
   Server: H710-MAETHOR\SQLEXPRESS
   Database: TitleManagerDB
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.TableName01 ADD
	column3 bit NULL
GO
ALTER TABLE dbo.TableName01 SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.TableName01', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.TableName01', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.TableName01', 'Object', 'CONTROL') as Contr_Per 